Django==4.2.10
asgiref==3.7.2
sqlparse==0.4.4
tzdata==2023.3

# Authentication and user management
django-crispy-forms==2.0

# Environment variables
python-dotenv==1.0.0

# PostgreSQL support
dj-database-url==2.1.0
psycopg2-binary==2.9.9

# For production (optional)
gunicorn==21.2.0
whitenoise==6.5.0 